<% include partials/header.ejs %>
<div class="container">
    <% if (message) { %>
        <p class="text-center text-danger"><%= message %></p>
    <% } %>

    <% if (player) { %>
        <form class="add-player-form" action="" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="first-name">First Name</label>
                    <input type="text" class="form-control" name="first_name" id="first-name" value="<%= player.first_name %>" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="last-name">Last Name</label>
                    <input type="text" class="form-control" name="last_name" id="last-name" value="<%= player.last_name %>" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="number">Email</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="email" value="<%= player.email %>" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="number">phone</label>
                    <input type="number" class="form-control" name="phone" id="phone" placeholder="phone" value="<%= player.phone %>" required>
                </div>
            </div>
            <button type="submit" class="btn btn-success float-right">Update User</button>
        </form>
    <% } else { %>
        <p class="text-center">User Not Found. Go <a href="/add">here</a> to add users.</p>
    <% } %>
</div>
</div>
</body>
</html>